<a href="https://colab.research.google.com/github/Himanshu30122002/oop_python_basics-practice-/blob/main/Copy_of_oop_practicepythonbasics_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ques 1
def max_num(n1,n2):
  if n1>n2:
    print("n1 is greater")
  else:
    print("n2 is greater")
    return max_num

a = max_num(56,23)

n1 is greater

In [ ]:
# ques 2
def num_game(n):
  num = n
  print("you have choosen ",n)
  return num_game


print("enter the number:")
a = int(input())
b = num_game(a)

enter the number:
3
you have choosen  3

In [ ]:
# ques 3
print("enter a number:")
n = int(input())
if n%3 ==0:
  print("number")
else:
  print("not divisble by 3")

enter a number:
8
not divisble by 3

In [ ]:
# ques 4
print("enter a number:")
n = int(input())
if n%5 ==0:
  print("Game")
else:
  print("not divisble by 5")

enter a number:
10
Game

In [ ]:
# ques 5-6
print("enter a number:")
n = int(input())
if (n%3 and n%5) ==0:
  print("numbergame")
else:
  print(n)

enter a number:
7
7

In [ ]:
# ques 7-10
def speed_lim(n):
  if n <= 70 :
    print("ok")
  if n>70 and n<130:
    i = (n -70)/5
    print("you are given 1 demerit points for every 5km\hr ")
    print("your demerit points are ",i)
      
  if n>=130:
    print("your license is suspended")

print("speed of the vehicle is: ")
speed = int(input())
print(speed)
speed_lim(speed)

speed of the vehicle is:
130
130
your license is suspended

In [ ]:
# ques 11
def shownumbers(limit):
  i =0
  for i in range(0,limit+1):
    if i%2==0:
      print(i,"EVEN")
    else:
       print(i,"ODD") 

print("enter any positive integer")
n =int(input())
shownumbers(n)

enter any positive integer
16
0 EVEN
1 ODD
2 EVEN
3 ODD
4 EVEN
5 ODD
6 EVEN
7 ODD
8 EVEN
9 ODD
10 EVEN
11 ODD
12 EVEN
13 ODD
14 EVEN
15 ODD
16 EVEN

In [ ]:
# ques 12
def showsigns(rows):
 if rows !=5:
   print("invalid input")
 else:
    for i in range(0,rows):
      for j in range(0,i+1):
        print("& ",end="")
      print("\r")     

print("Enter any number")
n = int(input())
showsigns(n)

Enter any number
6
invalid input

In [ ]:
# ques 13
def print_prime(max):
  for i in range(0,max+1):
    if i>1:
      for j in range(2,i):
        if i%j == 0:
          break
      else:
          print(i)

print("Enter any positive integer to get prime numbers between them")          
n = int(input())
print_prime(n)

Enter any positive integer to get prime numbers between them
8
2
3
5
7

In [ ]:
for i in range(1,4):
  print(i)
  if i == 5:
    break
else:
  print("true")

1
2
3
true

In [ ]:
def sum(a,b):
  sum = a +b
  return sum

print(sum(6,7))

print(sum.__doc__)

13
None

In [ ]:
a = 34
s = "my name is vikash  i am student of indian institute of techonology and it is situated in the city of dharwad i the state of karnataka "
print(s)
print(type(s))
print(a)
print(type(a))

my name is vikash  i am student of indian institute of techonology and it is situated in the city of dharwad i the state of karnataka
<class 'str'>
34
<class 'int'>

In [ ]:
list1 = [4,"mango","apple"]
print(type(list1))
for item in list1:
  print(item)
list1.append("banana")
print(list1)
print(list1[1:3])

<class 'list'>
4
mango
apple
[4, 'mango', 'apple', 'banana']
['mango', 'apple']

In [ ]:
dict1 = {"mango:fruit", "iiit:technical institutions", " monkey :animal", "vishnu : the creator"}
print(type(dict1))
print(dict1)
for item in dict1:
  print(item)

dict1.update({'india : new delhi'})
print(dict1)

<class 'set'>
{'mango:fruit', 'iiit:technical institutions', 'vishnu : the creator', ' monkey :animal'}
mango:fruit
iiit:technical institutions
vishnu : the creator
 monkey :animal
{'mango:fruit', 'india : new delhi', 'vishnu : the creator', 'iiit:technical institutions', ' monkey :animal'}

In [ ]:
print("enter a number ")
n = int(input())
if n == 5:
   print(True)
else:
    print(False)

print(type(True))
print(type(False))

enter a number
6
False
<class 'bool'>
<class 'bool'>

In [ ]:
set1 = {55,'australia','france',56,78}
print(set1)

set1.add(4)
print(set1)
set1.remove('australia')
print(set1)

{78, 55, 'australia', 'france', 56}
{4, 78, 55, 'australia', 'france', 56}
{4, 78, 55, 'france', 56}

In [ ]:
a = 40
b =6
print("a+b is", a+b)
print("a-b is", a-b)
print("a*b is",a*b)
print("a/b is",a/b)
print("a//b is",a//b)

a+b is 46
a-b is 34
a*b is 240
a/b is 6.666666666666667
a//b is 6

In [ ]:
a = True
b = False
print("a and b is",a and b)
print("a or b is",a or b)
print("not a ",not a)

a and b is False
a or b is True
not a  False

In [ ]:
a = 78
a += 5
print(a)
a -= 8
print(a)
a /= 26
print(a)
a%=26
print(a)

83
75
2.8846153846153846
2.8846153846153846